
<div class="legal-content">
    <h1>Mentions légales</h1>
    <div>
    <p><strong>Editeur</strong></p>
    <p>
      Site publié par Simplon.co<br />
      SAS agréée ESUS au capital de 448.390 euros<br />
      RCS Bobigny : 792 791 329 00016<br />
      Enregistré en tant qu’organisme de formation auprès de la DIRECCTE
      Ile-de-France sous le numéro 11 93 06676 93. Cet enregistrement ne vaut
      pas agrément de l’État.
    </p>
  </div>
  <br />
  <div>
    <p>
      <strong>Responsable de la publication</strong>
    </p>
    <p>Frédéric Bardeau joignable sur inbox@simplon.co</p>
  </div>
  <br />
  <div>
    <p>
      <strong>Hébergement</strong>
    </p>
    <p>
      OVH, société par actions simplifiée dont le siège social est au 2 rue
      Kellermann, 59100 Roubaix et dont le numéro de téléphone est le 0820 698
      765.
    </p>
  </div>
  <br />
  <div>
    <p>
      <strong>Design, développement, intégration et déploiement</strong>
    </p>
    <p>SimplonProd, l'agence web solidaire de Simplon.co</p>
  </div>
  <br />
  <div>
    <p>
      <strong>Siège social</strong>
    </p>
    <p>55 rue de Vincennes, 93100 Montreuil</p>
  </div>
  <br />
  <div>
    <p><strong>Données personnelles et politique de confidentialité</strong></p>
    <p>
      Les données personnelles recueillies dans le cadre du site de Simplon.co
      font l’objet d’un traitement par la SAS Simplon.co et ses filiales. Les
      formulaires présents sur notre site nous permettent de qualifier votre
      demande et de l'orienter vers les collaborateurs de Simplon.co qui seront
      à même d'y répondre. Vous pouvez choisir de ne pas nous fournir des
      données, mais certaines sont nécessaires à des fins d’orientation :
      candidature RH, candidature à une formation, contact presse, contact pour
      ouvrir une fabrique, etc. Les données personnelles collectées sont portées
      à connaissance des destinataire des formulaires (spécifique selon les
      formulaires) au sein des directions territoriales, du service formation,
      de la direction générale, et de la direction des ressources. Ces
      différents traitements de données se font sur différentes bases selon la
      nature des données collectées : des traitements opérés sur le fondement
      légal de l'exécution de nos obligations contractuelles, de votre
      consentement, et enfin sur le fondement de l'intérêt légitime (dont
      l’impact social) poursuivi par Simplon.co. En terme de sécurisation :
      sachez que vos données sont stockées sur des serveurs installés en Europe,
      que les accès à nos locaux sont sécurisés, et que l’ensemble de nos
      contrats de travail, nos contrats avec nos prestataires et nos contrat
      commerciaux ont été mis à jour afin d’y intégrer nos obligations de
      sous-traitants ou de responsables conjoints au sens du RGPD.
    </p>
  </div>

  <div>
    <p>
      <strong
        ><em
          >Pour une meilleure prise en compte de l'égalité femmes-hommes et pour
          ne pas contribuer à la sous-représentation des femmes dans la société,
          ce site web et l'ensemble des communications de Simplon font la part
          belle aux mécanismes du langage ouvert et de l'écriture inclusive.</em
        ></strong
      >
    </p>
  </div>

  <div>
    <p>
      <strong
        ><em>
          favorisons donc autant que possible l'emploi des termes épicènes (dont
          la forme ne varie pas entre le féminin et le masculin, comme
          collègues), de la double flexion féminin-masculin (collaborateurs et
          collaboratrices), l'accord de proximité (qui consiste à accorder les
          mots avec le terme le plus proche et non au masculin par défaut), et
          dans une moindre mesure l'utilisation des points (comme apprenant.es)
          pour ne pas alourdir la lecture. Pour des raisons d'accessibilité,
          nous ne recourons pas au point médian qui n'est pas lisible par les
          lecteurs d'écran.</em
        ></strong
      >
    </p>
  </div>
  <br />
  <div>
    <p>
      Pour exercer ces droits ou pour toute question sur le traitement de vos
      données sur notre site, vous pouvez nous contacter via ​rgpd@simplon.co ou
      par courrier A l’attention de la Délégué.e à la Protection des Données -
      Simplon.co - 55 Rue de Vincennes - 93 100 Montreuil
    </p>
    <p>
      Si vous estimez, après nous avoir contactés, que vos droits Informatique
      et Libertés ne sont pas respectés ou n’est pas conforme aux règles de
      protection des données, vous pouvez adresser une réclamation à la CNIL.
    </p>
  </div>
</div>
