<div ngClass="body-categories">
    <div fxLayout="column" fxLayoutAlign="center center">
      <h2>Filtrer par Mots-clés</h2>
      <mat-chip-list>
        <mat-chip *ngFor="let category of categoryList"  
                  [ngStyle]="{'cursor': 'pointer'}"
                  [style.background-color]="getBackgroundColor(category)" 
                  [style.color]="getColor(category)"
                  [style.border]="getBorderColor(category)" 
                  (click)="selectCategory(category)">
                  {{category.name}}</mat-chip>
      </mat-chip-list>
    </div>
  </div>