mat-chip-list {
  padding: 0 25px;
}
.mat-chip.mat-standard-chip::after {
    background: #0000;
}
mat-chip {
  user-select: none;
  &:hover {
    border: 1px solid var(--color-secondary) !important;
  }
}