<footer class="footer-content" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <div fxFlex.gt-md="20" fxLayoutAlign.gt-md="center center">
    <img
      class="footer-img"
      src="../../assets/images/kissluler-logo.png"
      alt=""
    />
  </div>
  <div class="footer-link" fxFlex.gt-md="20" fxLayout="column">
    <h1>A propos de  Kissluler</h1>
    <a href="">Qui sommes nous</a>
    <a href="">L'équipe</a>
    <a routerLink="/contact">Nous contacter</a>
  </div>
  <div class="footer-link" fxFlex.gt-md="20" fxLayout="column">
    <h1>Notre service</h1>
    <a routerLink="/how-it-work">Comment ça marche ?</a>
    <a routerLink="/help">Aide en ligne</a>
  </div>
  <div class="footer-link" fxFlex.gt-md="20" fxLayout="column">
    <h1>Conditions</h1>
    <a routerLink="/legal">Mentions légales</a>
    <a routerLink="/privacy">Politique de confidentialité</a>
    <a routerLink="/terms">CGU</a>
    <a routerLink="/cookies">Cookies</a>
  </div>
  <div class="footer-link" fxFlex.gt-md="20" fxLayout="column">
    <h1>Social</h1>
    <a href="https://www.facebook.com/SimplonLyon" target="_blank">Facebook</a>
    <a href="https://twitter.com/simplonlyon" target="_blank">Twitter</a>
    <a href="https://www.instagram.com/simplonlyon/?hl=fr" target="_blank">Instagram</a>
    <a href="https://fr.linkedin.com/showcase/simplon-auvergne-rh%C3%B4ne-alpes" target="_blank">LinkedIn</a>
  </div>
</footer>
