a {
  color: var(--color-secondary-contrast);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
.footer-content {
  background-color: var(--color-primary-darker);
  color: var(--color-secondary-contrast);
}

.footer-img {
  margin: 25px;
  width: 70%;
}

.footer-link {
  margin: 25px auto;
}
