<div class="body-terms">
  <h1>Conditions générales</h1>
  <p>Il est important de lire attentivement et de comprendre ces conditions générales d'utilisation du site. En
    acceptant les présentes, vous vous engagez à respecter les termes et conditions ci-après. Si vous n'êtes pas
    d'accord avec ces termes et conditions et que vous ne voulez pas les respecter, vous ne devrez pas les accepter et
    ne pourrez pas, en conséquence, bénéficier des services proposés par la société sur le site.</p>
  <br>
  <br>
  <h1>1. Préambule</h1>
  <br>
  <p>(A) Les présentes Conditions Générales d'utilisation du site (ci-après dénommées les « Conditions Générales »)
    décrivent les termes et conditions applicables à l'accès aux Services proposés sur le Site.</p>
  <p>(B) Le Site est la propriété exclusive de la société kissluler & Co, société par actions simplifiée au
    capital de 24.604.542 €, dont le siège social est situé au 34, rue de Paradis 75010 Paris, immatriculée au registre
    du commerce et des sociétés de Paris sous le numéro 512 211 004 (ci-après dénommée la « Société »). Le nom de la
    Société est également utilisé en tant que nom commercial, nom de la plateforme électronique sur Internet et en
    référence aux Services proposés sur le Site aux Membres.</p>
  <p>(C) Les Services proposés par la Société ont pour objet de permettre :</p>
  <p>(i) l'intermédiation entre les Porteurs de Projets et les KissBankers via la plateforme Internet gérée par la
    Société aux fins de faciliter leur interaction et de promouvoir les Projets présentés sur le Site, et</p>
  <p>(ii) la collecte des Dons par l'intermédiation du Site de financement participatif ou crowdfunding aux fins de
    permettre aux KissBankers d'apporter leur soutien aux Porteurs de Projets et de financer la réalisation des Projets
    présentés sur le Site.</p>

  <br>
  <br>
  <h1>2. Définitions et interprétations</h1>
  <h3>2.1 Définitions</h3>
  <p>Pour les besoins des présentes, les expressions comportant une majuscule auront le sens qui leur est donné
    ci-après, à moins que le contexte n'exige qu'il en aille autrement :</p>
  <p>« Association » désigne tout fonds de dotation, fondation ou association à but non lucratif soumis à la loi du 1er
    juillet 1901 ;</p>
  <p>« Contreparties » désigne les informations relatives à un Projet réservées aux KissBankers ou les avantages
    particuliers éventuels que le Porteur de Projets propose de mettre à disposition des KissBankers en échange de leur
    contribution. Les contreparties proposées dans le cadre d’un projet sont définies par le Porteur de Projets ;</p>
  <p>« Conditions Générales » désigne les présentes Conditions Générales d'utilisation du Site applicables aux Visiteurs
    qui peuvent être consultées sur le Site par tout Visiteur et auxquelles ces Visiteurs doivent adhérer pour pouvoir
    devenir Membre ;</p>
  <p>« Droits de Propriété Intellectuelle » désigne l’ensemble des droits de propriété intellectuelle tels que prévus
    par le Code de propriété intellectuelle et les conventions nationales et, notamment, les droits d’auteur, les droits
    voisins des artistes interprètes et des producteurs phonographiques et vidéo graphiques, le droit des marques, les
    brevets, appellations commerciales (y compris les noms de domaine Internet et les noms d’adresse e-mail), les
    copyrights, droits moraux, droits sur tous modèles, droits sur toutes bases de données, savoir-faire, enregistrés ou
    non ou pouvant être enregistrés ou non et subsistant dans toute partie du monde ;</p>
  <p>« Don ou Contribution » désigne toute somme en numéraire collectée par le Porteur des Projets par l'intermédiation
    du Site auprès des KissBankers en vue de financer un ou plusieurs Projets proposés sur le Site ;</p>
  <p>« Entreprise » désigne toute personne morale de droit public ou privé (autre qu'une Association) ;</p>
  <p>« Espace Individualisé » désigne (i) en ce qui concerne un Porteur de Projets, le compte (en ce incluant le nom
    d'utilisateur et le mot de passe choisis par le Porteur de Projets) et l'espace mis à sa disposition sur le Site
    pour présenter ses Projets, et (ii) en ce qui concerne un KissBanker, le compte (en ce incluant le nom d'utilisateur
    et le mot de passe choisis par le KissBanker) et l'espace personnel qui est réservé à chaque KissBanker inscrit sur
    le Site contenant les informations sur ce Membre, ainsi que les caractéristiques des Projets proposés aux Membres,
    en vue de leur participation au développement desdits Projets ;</p>
  <p>« Force Majeure » désigne tous incendies, toutes inondations, éléments naturels ou autres catastrophes naturelles,
    toutes déclarations ou progressions d'hostilités, guerres, émeutes ou troubles publics, actes ou omissions du
    gouvernement ou d'autorités compétentes, pannes, blocages, défaillances ou variations des installations ou des
    réseaux de télécommunications, ou toutes autres causes similaires ou non aux causes mentionnées ci-dessus échappant
    au contrôle raisonnable d'une partie à un contrat et entraînant tout manquement ou retard dans le cadre de
    l'exécution de ses obligations au titre d'un contrat ;</p>
  <p>« Jour Ouvré » désigne un jour (autre qu'un samedi ou un dimanche) où les banques sont généralement ouvertes à
    Paris ;</p>
  <p>« KissBanker ou Contributeur» désigne un Membre qui s’est inscrit sur le site et/ou qui souhaite soutenir un ou
    plusieurs Projets proposés sur le Site en réalisant des Dons ou Contributions au profit des Projets présentés sur la
    Plateforme ;</p>
  <p>« MANGOPAY » désigne la société MANGOPAY SA, une société à responsabilité limitée de droit luxembourgeois, dont le
    siège social est situé 59 Boulevard Royal, L-2449 Luxembourg, immatriculé au Registre du Commerce et des Société de
    Luxembourg sous le numéro B173459 et autorisé en qualité d'Établissement de Monnaie Électronique par la Commission
    de Surveillance du Secteur Financier (CSSF) ;</p>
  <p>« Membre » désigne les Porteurs de Projets et les KissBankers inscrits sur le Site sous condition d'avoir
    préalablement adhéré aux Conditions Générales ;</p>
  <p>« Mentor » : Institution, organisation, média, association ou société qui soutient des projets présentés par KKBB
    sur ou en dehors du site. Soit par une contribution financière soit en leur donnant de la visibilité en dehors de
    KKBB.</p>
  <p>« Objectif de Levée des Dons » désigne le montant des Dons recherchés par le Porteur de Projets pour la réalisation
    d'un Projet et ouverts à la collecte auprès des KissBankers par l'intermédiation du Site ;</p>
  <p>« Particulier » désigne toute personne physique âgée d'au moins 18 ans à la date de son inscription sur le Site
    jouissant de pleine capacité juridique au regard de la loi qui lui est applicable ;</p>
  <p>« Partie » désigne, selon le cas, la Société et/ou tout Membre ayant accepté l'application des Conditions
    Générales, et « Parties » désigne l'ensemble d'entre elles ;</p>
  <p>« Période de Collecte des Dons » désigne la période pendant laquelle les KissBankers peuvent contribuer aux Dons
    par l'intermédiation du Site et atteindre l'Objectif de Levée des Dons nécessaires à la réalisation du Projet ;</p>
  <p>« Période de réalisation » désigne la période pendant laquelle le Porteur de Projets met en oeuvre les démarches
    nécessaires à la réalisation de son projet, après avoir reçu le financement demandé.</p>
  <p>« Porteur de Projets » ou « Créateur de Projets » désigne toute Entreprise, Association ou Particulier inscrit sur
    le Site dans l'objectif d'apporter et de promouvoir un ou plusieurs Projets qui seront réalisés avec le soutien des
    Dons collectés par l'intermédiation du Site auprès des KissBankers ;</p>
  <p>« Projet » désigne toute initiative à but lucratif ou non lucratif portée par un Porteur de Projets et publiée sur
    le Site conformément aux Conditions Générales ;</p>
  <p>« Services » désigne les services proposés par la Société, notamment (i) l'intermédiation entre les Porteurs de
    Projets et les KissBankers via la plateforme Internet gérée par la Société aux fins de faciliter leur interaction et
    de promouvoir les Projets présentés sur le Site, et (ii) la collecte des Dons par l'intermédiation du Site aux fins
    de permettre aux KissBankers d'apporter leur soutien aux Porteurs de Projets et de financer la réalisation des
    Projets présentés sur le Site ;</p>
  <p>« Site » ou « www.kissluler.com » désigne le site de financement participatif ou crowdfunding, la propriété
    exclusive de la Société, dont le but est notamment de permettre aux Porteurs de Projets de promouvoir leurs Projets
    et aux KissBankers d’apporter leur soutien par les Dons collectés sur le Site pour la réalisation d’un Projet ;</p>
  <p>« Société » désigne la société kissluler & Co société par actions simplifiée au capital de 24.604.542 €,
    dont le siège social est situé au 34, rue de Paradis 75010 Paris, immatriculée au registre du commerce et des
    sociétés de Paris sous le numéro 512 211 004. La Société exploite le Site et offre aux Membres la possibilité
    d’ouvrir un Compte de Monnaie Électronique auprès de MANGOPAY, d’acquérir de la Monnaie Électronique émise par ce
    dernier par l’intermédiaire du Site et d’utiliser la Monnaie Électronique en vue de réaliser une Contribution auprès
    d’un Porteur de Projet. La Société est mandatée à cet effet par MANGOPAY pour distribuer la Monnaie Électronique
    auprès des utilisateurs du Site ;</p>
  <p>« Suivre le projet » : Les KissBankers peuvent suivre des projets sans y contribuer financièrement. Cette action
    leur permet de recevoir les informations postées par les porteurs de projets</p>
  <p>« Visiteur » désigne toute personne qui se rend sur le Site pour consulter le contenu et les informations publiés
    sur le Site sans y être inscrite ou préalablement à son inscription sur le Site en tant que Membre.</p>

  <br><br>
  <h3>2.2 Interprétation</h3>

  <p>Sauf stipulation expresse contraire ou si le contexte impose un sens différent :</p>
  <p>(i) les renvois dans les présentes au préambule et aux articles s'entendent, à moins qu'il n'en soit spécifié
    autrement, aux renvois au préambule et aux articles des Conditions Générales ;</p>
  <p>(ii) les mots comportant le pluriel doivent inclure le singulier et vice versa ;</p>
  <p>(iii) la référence à une personne emporte référence implicite aux cessionnaires de son fonds de commerce et à ses
    successeurs, héritiers ou ayants-droit éventuels ;</p>
  <p>(iv) la référence à une disposition légale inclut, le cas échéant, tout amendement ou toute nouvelle promulgation
    de cette disposition ainsi que tout instrument légal, réglementaire ou ordonnance relatif à cette disposition ou à
    sa nouvelle promulgation ; et</p>
  <p>(v) la référence à un document vise ce document tel qu'il peut être modifié, remplacé par voie de novation ou
    complété.</p>

  <br><br>
  <h1>3. Objet</h1>
  <p>L’objet des Conditions Générales est de définir les termes et conditions de mise à disposition des Services sur le
    Site par la Société aux fins de permettre (i) aux Porteurs de Projets de promouvoir des Projets présentés sur le
    Site, et (ii) aux KissBankers de soutenir le financement de la réalisation desdits Projets par les Dons collectés
    par l'intermédiation du Site.</p>
  <p>Les conditions d'accès aux Services sont décrites respectivement aux articles 4 et 5 des Conditions Générales.</p>

  <br><br>
  <h1>4. Service de mise à disposition du site</h1>
  <h3>4.1 Propriété du Site</h3>

  <p>La Société a élaboré et mis en place le Site qui assure l’interface entre les Porteurs de Projets qui souhaitent
    associer les KissBankers à la réalisation et à la promotion des Projets conçus et apportés par les Porteurs de
    Projets et les KissBankers désireux de soutenir les Projets proposés sur le Site.</p>
  <p>Tous les Droits de Propriété Intellectuelle portant sur tous programmes informatiques, ainsi que toutes les mises à
    jours, nouvelles versions et copies desdits programmes mis à disposition des Membres au travers du Site sont et
    resteront la propriété de la Société ou de ses cessionnaires, successeurs ou ayants droit et aucun titre de
    propriété y afférent n’est transféré aux Membres par les présentes.</p>
  <p>La Société accorde aux Membres, qui l’acceptent, le droit non exclusif et non cessible, pour la durée de validité
    des présentes, d’installer l’accès au Site et d’utiliser le Site aux seules fins d'accès aux Services au titre des
    présentes.</p>
  <p>Les Membres reconnaissent que toute information relative au Site, en dehors des contenus du Site, constitue la
    propriété exclusive de la Société qui est seule titulaire des droits relatifs au Site et en assure la mise à jour et
    la maintenance.</p>
  <p>Le droit de reproduction aux termes du Code de propriété intellectuelle ne s'entend qu'aux fins de représentation
    sur écran monoposte et est strictement réservé à un usage privé. Toute reproduction, distribution ou publication de
    contenus à usage commercial ou collectif sans autorisation écrite préalable émanant de la Société est interdite.</p>
  <p>Le mécanisme des liens est autorisé lorsque les pages relatives au Site apparaissent dans une fenêtre entière et
    isolée, sous leurs adresses respectives.</p>
  <p>Tout Membre s'interdit d'utiliser le Site à des fins commerciales et d'une manière générale de proposer des
    produits et des services en contrepartie d'une rémunération directe ou indirecte ; il s'interdit de "revendre" ou de
    mettre à disposition d'un tiers et/ou des autres Membres, à titre onéreux et/ou gratuit, l'accès au Site et aux
    Services ; il s'interdit de publier tout message publicitaire, de promotion, ou de parrainage rémunérant le Membre
    sous quelque forme que ce soit.</p>

  <br><br>
  <h3>4.2 Accessibilité du Site</h3>
  <p>Le Site de financement participatif ou crowdfunding est accessible, autant que faire se peut, 24 heures sur 24 et
    sept jours sur sept. Alors même que la Société a effectué toutes les démarches nécessaires pour s'assurer de la
    fiabilité des informations, logiciels et Services contenus sur le Site, elle ne saurait être tenue responsable
    d'erreurs, d'omissions, de virus ou des résultats qui pourraient être obtenus ou être la conséquence d'un mauvais
    usage de ceux-ci.</p>
  <p>La Société ne saurait être tenue responsable des problèmes et incidents techniques pouvant survenir et entraîner un
    risque de perte de données. La Société n'est en effet tenue qu'à une simple obligation de moyens.</p>
  <p>Le Membre déclare et garantit qu'il connaît parfaitement les caractéristiques et les contraintes d'Internet.</p>
  <p>Les équipements (ordinateurs, logiciels, moyens de communication électronique, etc.) permettant l'accès aux
    Services fournis par la Société sont à la charge exclusive du Membre, de même que les frais de communication
    électronique induits par leur utilisation.</p>
  <p>Les Conditions Générales s’appliquent (i) pour le Visiteur : de sa connexion sur le Site à la fin de sa navigation,
    et (ii) pour le Membre : de la création de l'Espace Individualisé jusqu’à la clôture de celui-ci.</p>
  <p>Chaque Visiteur a, de manière générale, pour obligations de (i) respecter les lois et règlements en vigueur, (ii)
    se comporter de façon loyale à l'égard de la Société et des autres Visiteurs, (iii) respecter les Droits de
    Propriété Intellectuelle afférents aux contenus fournis par la Société et les Membres sur le Site, (iv) ne
    communiquer que des données exactes et fidèles relativement à son état civil et ses coordonnées personnelles, et (v)
    ne prendre aucun engagement pour un tiers.</p>
  <p>En cas de violation des conditions d'accès au Site et d'utilisation des Services proposés sur le Site, la Société
    se réserve le droit de suspendre l'accès au Site et l'utilisation des Services aux Membres et Visiteurs concernés.
    Les violations continues et répétées donnent droit à la Société de résilier les présentes à l'égard des Membres et
    des Visiteurs concernés avec effet immédiat.</p>

  <br><br>
  <h3>4.3 Inscription et identification des Membres</h3>

  <p>Le Visiteur peut s’inscrire sur le Site et ainsi devenir Membre en remplissant l'ensemble des champs obligatoires
    figurant dans le formulaire d'inscription disponible sur le Site. Sont éligibles pour devenir Membres de la
    communauté du Site les Particuliers âgés d'au moins 18 ans, les Entreprises et les Associations.</p>
  <p>Après l'inscription et la création de l'Espace Individualisé sur le Site, le KissBanker pourra contribuer aux Dons
    aux fins de soutenir un ou plusieurs Projets proposés par les Porteurs de Projets sur le Site.</p>
  <p>En tant que KissBanker, le Membre doit lire et accepter les Conditions Générales (consultables en permanence sur le
    Site).</p>
  <p>Lorsque les conditions nécessaires à l'inscription sont remplies, le Membre dispose d'un identifiant (« login ») et
    d'un mot de passe qui sont strictement personnels et confidentiels et qui ne devront pas être communiqués, ni
    partagés avec des tiers. Ces informations permettront la connexion à l'Espace Individualisé consacré à chaque
    Membre.</p>
  <p>Dans le cas de diffusion ou d'utilisation de ces éléments de façon contraire à leur destination, la Société sera
    libre de résilier l'accès à Espace Individualisé. Le Membre reste seul responsable de l'utilisation de ces éléments
    d'identification par des tiers ou des actions ou déclarations faites par l'intermédiaire de son Espace Individualisé
    en tant que Membre, qu'elles soient frauduleuses ou non. Le Membre garantit la Société contre toutes demandes à ce
    titre.</p>
  <p>Si le Membre souhaite parrainer un ami et fournir à la Société les coordonnées de ce dernier, il s'engage à avoir
    préalablement obtenu de cet ami un consentement exprès pour permettre le traitement de ses données personnelles par
    la Société, données qui seront uniquement utilisées pour adresser à cet ami, au nom et pour le compte du Membre
    ayant fourni à la Société ces coordonnées, un message électronique l'informant sur la Société et sur les Services
    proposés sur le Site. Le cas échéant, le Membre fournira ces informations volontairement et librement et sous sa
    responsabilité exclusive et en avertira la Société.</p>

  <br><br>
  <h3>4.4 Données personnelles des Membres</h3>
  <p>La Société respecte les obligations qui s’imposent à elle dans le cadre du Règlement Général sur la Protection des
    Données (RGPD). Les traitements de données personnelles ainsi que les droits offerts aux utilisateurs sont détaillés
    dans les données personnelles.</p>

  <br><br>
  <h3>4.5 Informations générales sur les cookies</h3>
  <p>Un "cookie" est un bloc de données envoyé à votre navigateur par un serveur web et stocké sur le disque dur de
    l'ordinateur. Un ou plusieurs cookies peuvent être placés de manière anonyme par la société sur le disque dur de
    l'ordinateur. Ils permettent notamment à la Société d'améliorer en permanence le service proposé sur le site dans
    l'accès aux contenus, de reconnaître le visiteur lorsqu'il se connecte au site, de faciliter la gestion du site, et
    ils peuvent être utilisés à des fins statistiques (pages consultées, date et heure des consultations, etc.). Le
    visiteur est informé qu'il peut s'opposer à leur mise en place en suivant la procédure indiquée sur son navigateur.
  </p>

</div>
