.projects-page {
  min-height: 45vw;
}

.no-project {
  height: 400px;
}

.no-project-image {
  width: 100%;
  border-radius: 25%;
}

.boot-cards {
  padding: 3em 0;
  width: 100%;
  margin: 0;
}

.card-img-top {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}

.card {
  margin: 1.5em;
  cursor: pointer;
  max-width: 300px;
  box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  transition: 150ms;

  &:hover {
    transition: 150ms;
    transform: scale(1.05);
  }
}

.card-title {
  color: var(--color-primary-darker);
  font-weight: 500;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.card-text {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  overflow: hidden;
}

.card-body {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}

.progress-bar {
  background-color: var(--color-secondary);
}
