<div *ngIf="!projects" [ngClass]="isOnProjectsPage ? 'projects-page' : 'home-page'" class="no-project"
  fxLayoutAlign.gt-sm="center center">
  <div fxFlex.gt-sm="25">
    <img class="no-project-image" src="../../assets/images/3973481.jpg" alt="">
  </div>
  <div fxFlex.gt-sm="60" fxLayout="column" fxLayoutAlign.gt-sm="center center">
    <h1>Oups !</h1>
    <h3>Il n'y a actuellement aucun projet en ligne.</h3>
    <button mat-raised-button *ngIf="isOnProjectsPage">Lancer un projet</button>
  </div>
</div>
<div *ngIf="projects" class="boot-cards row justify-content-center">
  <app-project-categories *ngIf="isOnProjectsPage" (category)="filterProjectsList($event)"></app-project-categories>
  <div class="card p-0 align-items-space-between"
    *ngFor="let project of activePageDataChunk | slice: 0:sliceEnd; let i = index"
    [routerLink]="'/project/' + project.id">
    <div *ngIf="project.daysToGo >= 0">
      <img class="card-img-top" [src]="project.media" alt="image du projet" />
      <div class="card-body">
        <h3 class="card-title" matTooltip="{{ project.name }}">
          {{ project.name }}
        </h3>
        <p class="card-text" matTooltip="{{ project.catchPhrase }}">
          {{ project.catchPhrase }}
        </p>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <p>
            {{ project.backers }} <br />
            <small class="text-muted">contributions</small>
          </p>
          <p>
            {{ project.daysToGo }} jours <br />
            <small class="text-muted">restants</small>
          </p>
          <p>
            {{ project.fundRaised }} € <br />
            <small class="text-muted">sur {{ project.fundingGoal }} €</small>
          </p>
        </div>
        <div class="progress" style="height: 20px">
          <div class="progress-bar progress-bar-striped" role="progressbar" [attr.aria-valuenow]="
          checkFundingGoal(project.fundingGoal, project.fundRaised)
        " aria-valuemin="0" aria-valuemax="100" [style.width]="
          checkFundingGoal(project.fundingGoal, project.fundRaised) + '%'
        ">
            {{ checkFundingGoal(project.fundingGoal, project.fundRaised) }} %
          </div>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator *ngIf="isOnProjectsPage" paginator [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true" [length]="totalSize" [pageIndex]="currentPage" (page)="handlePage($event)"
    showFirstLastButtons></mat-paginator>
</div>
