.card {
    border-color: var(--color-tertiary-light);
 }
 a {
    margin-left: 8px;
    color: var(--color-primary);
    &:hover {
       color: var(--color-primary-lighter);
    }
 }
 
 .card-header {
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);
    .card-title {
       margin: 0;
    }
 }
 
 .btn {
    background-color: var(--color-secondary);
    color: var(--color-primary-contrast);
    &:hover {
       background-color: var(--color-secondary-dark);
    }
 }