<div class="body-privacy">

  <h1>Politique de confidentialité</h1>
  <br><br>
  <h1>1. Introduction</h1>

  <p>Date de dernière mise à jour : 21 février 2022</p>
  <p>La présente politique de confidentialité a pour vocation d’informer toute personne dont les données personnelles
    (les « Données ») sont traitées par Kissluler, sur les caractéristiques des traitements réalisés et sur les droits
    dont elle dispose, notamment au regard de la loi informatique et liberté du 6 janvier 1978 modifiée et du Règlement
    européen 2016/679 du 27 avril 2016 relatif à la protection des données, dit « RGPD ».</p>
  <p>Le responsable de traitement est Kissluler SA (« Kissluler ») société anonyme de droit français, au capital de
    1.134.309 euros, dont le siège social est situé 4 rue de la Tour des Dames 75009 Paris, France et immatriculée au
    Registre du commerce et des sociétés de Paris sous le numéro 511361073. Kissluler est également enregistré en
    qualité
    d’intermédiaire en financement participatif pour des opérations de dons auprès de l’ORIAS sous le numéro 18000860.
  </p>
  <p>Kissluler a désigné un délégué à la protection des données personnelles « DPO ». Vous pouvez contacter ce dernier à
    l’adresse email suivante : rgpd@Kissluler.com ou selon les modalités prévues à la section 9 de la présente
    politique.
  </p>

  <br><br>
  <h1>2. Êtes-vous concerné par cette politique de confidentialité ?</h1>

  <p>Kissluler édite le site internet www.Kissluler.com permettant aux utilisateurs de créer des cagnottes pour
    collecter et
    gérer des fonds à plusieurs (par exemple pour organiser un cadeau commun pour un anniversaire, un pot de départ, des
    soirées, mais également pour financer projets personnels, associatifs, etc).</p>
  <p>La présente Politique de confidentialité s’applique à toute personne ayant souscrit aux services Kissluler en se
    créant un compte. Cela concerne les créateurs de cagnottes, les participants, les bénéficiaires des cagnottes ainsi
    que les marchands affiliés à Kissluler (ou toute personne physique liée à un marchand, tel que les mandataires
    sociaux).</p>
  <p>Si vous naviguez sur le site internet www.Kissluler.com en qualité d’internaute, vous êtes également concerné en
    partie par la présente Politique. Vous pouvez consulter directement la section 13 concernant les cookies pour plus
    d’informations sur les traitements qui vous concernent.</p>

  <br><br>
  <h1>3. Quelles Données personnelles sont traitées par Kissluler ? Comment sont-elles collectées ?</h1>

  <p>Lorsque vous souscrivez aux services de Kissluler, vous acceptez que vos Données personnelles nécessaires à la
    fourniture de ces services soient traitées par Kissluler. Cela concerne principalement vos identifiants (vous
    permettant d’accéder à votre profil), vos données d’identification (notamment vos nom, prénom, adresse, date et lieu
    de naissance, et le cas échéant votre pièce d’identité ainsi que tout document justificatif pouvant être requis pour
    l’utilisation des services), ainsi que les données générées par l’utilisation des services (par exemple le type de
    cagnotte). Votre adresse IP est collectée lors de la création de votre profil et lors de l’utilisation des services
    exclusivement aux fins de navigation (notamment pour définir la langue d'affichage du site, permettre de rechercher
    des cagnottes solidaires en fonction de sa zone géographique, filtrer les partenaires de dépense proposés selon le
    pays d’expédition.). Enfin, les données de géolocalisation qui prennent la forme de coordonnées GPS à partir de
    l’adresse IP sont collectées au moment de la création de la cagnotte et peuvent être modifiées par le créateur par
    la suite.</p>
  <p>Lorsque vous effectuez un règlement sur la page de paiement, vous devez saisir certaines données personnelles (nom,
    prénom et données de carte). Afin de garantir le plus haut niveau de sécurité dans le traitement des données de
    paiement, Kissluler n’a pas accès aux données de carte en clair mais uniquement à l’alias de carte et à la date
    d’expiration. Seul Payline (prestataire de MANGOPAY), a accès à ces Données afin de procéder à la réalisation de la
    transaction. Les Données sont transmises de manière cryptée et sécurisée afin d’en garantir la confidentialité. Nous
    vous informons que Payline est une solution certifiée PCI DSS depuis 2008. La norme PCI DSS sert de référence aux
    conditions techniques et opérationnelles conçues pour protéger les données du titulaire d’une carte.</p>
  <p>Les Données devant être obligatoirement renseignées sont signalées de manière visible sur le site. Si vous refusez
    de fournir les Données obligatoires, la souscription aux services pourra vous être refusée ou les services pourront
    être suspendus.</p>


  <br><br>
  <h1>4. Pour quelles finalités vos Données personnelles sont-elles traitées ?</h1>

  <p>Vos Données personnelles sont traitées dans le cadre de l’exécution des conditions générales d’utilisation (« CGU
    ») conclues avec Kissluler ou afin de prendre des mesures liées à ce contrat. Cela comprend les finalités suivantes
    :
  </p>
  <ul>
    <li>La souscription aux services et la gestion de votre profil (y compris les services d’intermédiation en
      financement participatif);</li>
    <li>La création et la gestion des cagnottes y compris l’envoi de notifications en tant que créateur et/ou en tant
      que participant (par exemple lors de la clôture de la cagnotte ou en cas de remerciements…);</li>
    <li>La gestion de la relation client (le traitement de vos questions et de vos éventuelles réclamations, la collecte
      d’avis sur la qualité des services, …);</li>
    <li>En partenariat avec MANGOPAY, vos Données sont également collectées pour les besoins de la fourniture des
      services de paiement liés à la cagnotte. Pour plus d’informations sur ces traitements, nous vous renvoyons à la
      section 7.4 de la Politique de confidentialité.</li>
  </ul>
  <p>Kissluler traite également vos Données personnelles dans le cadre d’intérêts légitimes, estimés nécessaires pour
    vous
    assurer la qualité des services fournis. Cela concerne les finalités suivantes :</p>
  <ul>
    <li>La détection de cagnottes frauduleuses;</li>
    <li>La préservation de la sécurité du site internet Kissluler;</li>
    <li>Les services de partage de contenu sur les réseaux sociaux;</li>
    <li>L’amélioration de la navigation sur le site internet Kissluler et l’amélioration des services au moyen d’outils
      de
      mesure de l’audience (pour plus d’information, vous pouvez consulter la section 13 concernant les cookies);</li>
    <li>La publicité ciblée.</li>
  </ul>


  <p>Concernant la publicité ciblée, nous vous informons que nous sommes susceptibles d’envoyer aux utilisateurs des
    emails d’animation commerciale. Ces emails sont ciblés en fonction de votre profil utilisateur, fondé sur les
    éléments suivants : le type de cagnotte que vous avez déjà créé ou à laquelle vous avez déjà participé, la dernière
    date d’utilisation de nos services et le nombre de création ou de participation à des cagnottes. Aucune autre Donnée
    personnelle n’est utilisée dans le cadre des ciblages publicitaires que nous réalisons. Vous pouvez vous opposez à
    ce traitement selon les modalités prévues à la section 8.5.</p>
  <p>Kissluler traite vos Données lorsque la loi l’exige. Cela comprend:</p>
  <ul>
    <li>Le respect des obligations légales et réglementaires qui s’imposent à Kissluler en sa qualité d’intermédiaire en
      financement participatif, et notamment en matière de lutte contre la fraude et contre le blanchiment de capitaux
      et le financement du terrorisme, conformément aux articles L.561-2 et suivants du code monétaire et financier ;
    </li>
    <li>La coopération avec les pouvoirs publics ou toute autorité chargée de l’application de la loi, dans le cadre
      d’un contrôle ou d’une enquête.</li>
  </ul>
  <p>Enfin, certains traitements de Données sont réalisés uniquement si vous y avez donné votre consentement de manière
    claire et expresse (par exemple en cochant une case dédiée à cet effet). C’est le cas par exemple :</p>
  <ul>
    <li>Pour le dépôt de certains cookies (les cookies liés aux opérations relatives à la publicité ; les cookies des
      réseaux sociaux générés par les boutons de partage de réseaux sociaux lorsqu'ils collectent des données
      personnelles sans consentement des personnes concernées ; ainsi que certains cookies de mesure d'audience). Pour
      plus d’information sur les cookies, veuillez consulter la section 13.</li>
    <li>Si vous acceptez que Kissluler transmette des Données à des tiers pour permettre de vous fournir des
      informations
      sur les produits, les programmes, les services, les communications et les opérations promotionnelles qu’ils
      estiment de nature à vous intéresser.</li>
  </ul>

  <br><br>
  <h1>5. Combien de temps sont conservées vos Données personnelles ?</h1>
  <p>Kissluler conserve vos Données personnelles pendant la durée de la relation contractuelle. Dès lors que vous
    résiliez
    les services, l’ensemble de vos Données personnelles sont définitivement supprimées, à l’exception de celles devant
    être conservées par Kissluler au titre d’obligations légales ou pour des motifs légitimes. Ainsi, les durées de
    conservation spécifiques suivantes vont s’appliquer :</p>
  <ul>
    <li>Au titre de ses obligations en matière de lutte contre la fraude et contre le blanchiment de capitaux et le
      financement du terrorisme, Kissluler conserve pendant cinq (5) ans à compter de la résiliation des services, les
      documents et informations relatifs à votre identité ainsi que les documents et informations relatives aux
      transactions (article L.561-12 du code monétaire et financier);</li>
    <li>Les données nécessaires à la gestion d’éventuelles contestations ou litiges sont également conservées pendant
      une durée de cinq (5) ans, conformément aux dispositions légales en vigueur (notamment mais non exclusivement
      celles prévues par le code de commerce, le code civil et le code de la consommation).</li>
    <li>Les documents contractuels sont conservés pendant une durée de cinq (5) ans à compter de la fin du contrat.</li>
    <li>Les communications avec le support client peuvent également être enregistrées. Le cas échéant, elles seront
      conservées pendant une durée de cinq (5) ans à compter de leur réception ou de leur enregistrement.</li>
    <li>Les informations permettant de prendre en compte votre droit d'opposition à de la prospection commerciale sont
      conservées trois (3) ans à compter de l'exercice du droit d'opposition.</li>
  </ul>

  <br><br>
  <h1>6. Où sont stockées vos Données personnelles ?</h1>
  <p>Les serveurs utilisés par Kissluler pour stocker vos Données personnelles sont situés au Luxembourg.</p>
  <p>Par ailleurs, Kissluler transmet certaines de vos Données à ses sous-traitants, qui fournissent des prestations
    nécessaires à l’exécution des services. Certains de ces sous-traitants hébergent vos Données sur des serveurs situés
    en dehors du territoire de l’Union Européenne (en particulier aux États-Unis). Dans ce cas, Kissluler s’assure que
    ce pays tiers ou l’entité en question a fait l’objet d’une décision de la Commission Européenne constatant un niveau
    de protection adéquat des données personnelles. À défaut, Kissluler met en œuvre des garanties appropriées afin
    d’assurer la protection de vos Données, telles que le recours aux clauses contractuelles types adoptées par la
    Commission Européenne.</p>

  <br><br>
  <h1>7. Qui sont les destinataires des Données personnelles ? Est-ce qu’elles sont transmises à des tiers ?</h1>
  <br>
  <h3>7.1. Les services habilités de Kissluler</h3>
  <p>Seuls les collaborateurs Kissluler spécifiquement habilités peuvent accéder à vos Données personnelles, dans le cadre
    de l’exercice des missions qui leur sont confiées. Tout collaborateur de Kissluler ayant accès à vos Données est
    soumis à de strictes obligations de confidentialité.</p>
  <h3>7.2. Les autorités compétentes</h3>
  <p>Kissluler peut être amené à transmettre des Données personnelles aux autorités compétentes, tels que les pouvoirs
    publics et des autorités administratives, ou des organismes de lutte contre le blanchiment de capitaux et le
    financement du terrorisme.</p>
  <h3>7.3. Les sous-traitants de Kissluler</h3>
  <p>Kissluler a recours aux services de sous-traitants pour les besoins de la fourniture de la prestation que vous avez
    demandé (cela concerne par exemple l’hébergement du système d’information, l’analyse des données, des services
    informatiques, des services de commande en ligne, de réalisation de sondages, la gestion du courrier électronique et
    des réseaux sociaux, etc). Les sous-traitants réalisent des traitements de vos Données uniquement sur instruction de
    Kissluler, et exclusivement dans le cadre des activités de ce dernier. Sauf accord exprès de votre part, les
    sous-traitants ne sont pas autorisés à utiliser vos Données personnelles pour leur propre compte.</p>
  <p>Kissluler impose contractuellement aux sous-traitants de respecter des obligations de sécurité et de confidentialité,
    et de mettre en œuvre les mesures techniques et organisationnelles appropriées de manière à ce que les traitements
    réalisés répondent à l’ensemble de la réglementation applicable et garantissent la protection de vos droits.</p>
  <p>Vous pouvez obtenir sur demande adressée à Kissluler la liste des catégories de sous-traitants impliqués dans le
    traitement de vos Données.</p>
  <h3>7.4. Transmission de vos Données à MANGOPAY</h3>
  <p>Concernant la gestion des paiements réalisés par l’intermédiaire du site internet https://www.Kissluler.com, Kissluler
    a recours aux services de MANGOPAY, prestataire de services de paiement agréé au Luxembourg et supervisé par la
    Commission de Surveillance du Secteur financier (https://www.cssf.lu). Kissluler est désigné par MANGOPAY comme agent
    de paiement. Ainsi, les Données personnelles nécessaires à la fourniture des services de paiement sont transmises à
    MANGOPAY. Cela concerne les Données en lien avec les finalités suivantes :</p>
  <ul>
    <li>La souscription aux services et l’ouverture de votre compte de paiement;</li>
    <li>La gestion des ordres de paiement;</li>
    <li>La gestion de la relation client (par exemple, la fourniture de relevés d’opérations);</li>
    <li>Le traitement de vos questions et de vos éventuelles réclamations en lien avec les services de paiement;</li>
    <li>Les modalités d’accès à votre compte de paiement (et la gestion des éventuelles procédures d’authentification);
    </li>
    <li>L’exécution des paiements par carte;</li>
    <li>Le respect des obligations légales et réglementaires en matière de lutte contre le blanchiment de capitaux et le
      financement du terrorisme.</li>
  </ul>
  <p>Ainsi, MANGOPAY et Kissluler assument conjointement la responsabilité de ces traitements de Données. Ce régime de
    responsabilité conjointe est encadré contractuellement entre Kissluler et MANGOPAY. Pour toute demande d’exercice de
    vos droits ou toute réclamation en lien avec les traitements précités, vous pouvez vous adresser en premier lieu à
    Kissluler selon les modalités prévues à la section 9. Kissluler et MANGOPAY coopèrent afin d’assurer la protection de
    vos Données personnelles. Pour plus d’information sur les traitements réalisés par MANGOPAY, vous pouvez consulter
    sa politique de confidentialité accessible à l’adresse suivante : www.mangopay.com</p>

  <br><br>
  <h1>8. Quels sont vos droits sur vos Données personnelles ?</h1>
  <br>
  <h3>8.1. Droit d’accès</h3>
  <p>Vous avez le droit d’accéder aux Données vous concernant. Si vous exercez ce droit, Kissluler vous communiquera une
    copie des caractéristiques des traitements réalisés sur vos Données (les finalités du traitement, les catégories de
    Données concernées, etc). Ces informations vous seront fournies sur un support électronique d’usage courant. Vous
    avez cependant la possibilité de demander à ce que ces informations vous soient fournies sous une autre forme, sous
    réserve que Kissluler soit techniquement en mesure de vous transmettre les informations sous le format demandé.</p>
  <p>Vous êtes informé que Kissluler pourra exiger le paiement de frais basés sur les coûts administratifs générés par
    toute demande de copie supplémentaire.</p>
  <h3>8.2. Droit de rectification</h3>
  <p>Si vous constatez que les Données qui vous concernent sont inexactes ou incomplètes, vous avez la possibilité de
    demander la rectification ou la mise à jour de ces Données. Vous pouvez modifier certaines Données d’identification
    directement depuis votre profil Kissluler.</p>
  <h3>8.3. Droit à l’oubli</h3>
  <p>Vous pouvez demander l’effacement de vos Données dans les cas suivants : lorsque celles-ci ne sont plus nécessaires
    au regard des finalités pour lesquelles elles ont été collectées ou traitées ; lorsque vos Données ont fait l’objet
    d’un traitement illicite ou encore lorsqu’elles doivent être effacées pour respecter une obligation légale prévue
    par le droit de l’Union européenne ou par le droit français.</p>
  <p>Cependant, vous ne pourrez pas obtenir l’effacement de vos Données lorsque le traitement est nécessaire à
    l'exercice du droit à la liberté d'expression et d'information, à la constatation, à l'exercice ou à la défense
    de droits en justice, ou encore pour respecter une obligation légale s’imposant à Kissluler.</p>
  <h3>8.4. Droit à la limitation d’un traitement</h3>
  <p>Vous avez le droit d’obtenir la limitation d’un traitement dans les cas suivants : si vous contestez l’exactitude
    de vos Données personnelles ; si le traitement est illicite et que vous souhaitez obtenir la limitation de ce
    traitement à la place de l’effacement de vos données personnelles ; si Kissluler n’a plus besoin de vos Données
    personnelles mais que celles-ci vous sont encore nécessaires pour la constatation, l’exercice ou la défense d’un
    droit en justice.</p>
  <h3>8.5. Droit d’opposition à un traitement</h3>
  <p>Si vous avez un motif légitime, vous pouvez vous opposer à ce que vos Données fassent l’objet d’un traitement. Dès
    lors que vous vous opposez au traitement, vos Données ne seront plus traitées à ces fins.</p>
  <p>De plus, lorsque vos Données personnelles (notamment votre adresse email) sont utilisées à des fins de prospection
    ou d’animation commerciale, vous pouvez vous y opposer à tout moment en directement dans votre profil ou en
    contactant Kissluler, y compris en cas d’éventuel profilage dans la mesure où il est lié à ladite prospection. Dès
    lors que vous vous opposez au traitement, vos Données ne seront plus traitées à ces fins. Nous vous informons que
    vous pouvez également vous désabonner des emails de prospection ou d’animation commerciale au moyen du lien de
    désabonnement disponible à la fin de chacun desdits emails.</p>
  <h3>8.6. Droit à la portabilité des Données</h3>
  <p>Vous disposez d’un droit à la portabilité des Données que vous avez transmises. Vous pouvez ainsi recevoir ces
    Données dans un format structuré, couramment utilisé et lisible par machine. Vous avez également le droit de
    demander à ce que ces données soient transmises à un autre responsable de traitement, lorsque cela est techniquement
    possible.</p>

  <br><br>
  <h1>9. Comment exercer vos droits ?</h1>
  <br>
  <p>Vous pouvez exercer vos droits en contactant Kissluler aux coordonnées suivantes :</p>
  <ul>
    <li>Par téléphone : (+33)1.76.42.03.28</li>
    <li>Par email : rgpd@Kissluler.com;</li>
    <li>Au moyen du formulaire de contact disponible sur le site internet www.Kissluler.com;</li>
  </ul>
  <p>Pour toute demande d’exercice de vos droits, nous pouvons être amenés à vous demander de transmettre un document
    officiel d’identité afin de vérifier que vous êtes bien la personne concernée par les Données faisant l’objet de la
    demande. Les réponses à vos demandes vous seront communiquées par voie électronique, à moins que vous ne demandiez
    explicitement à ce qu’il en soit autrement. Dans ce cas, vous devrez accompagner votre demande des modalités de
    réponse souhaitées.</p>
  <p>Nous nous engageons à répondre à toute demande dans les meilleurs délais. Vous recevrez une réponse dans un délai
    maximum d’un mois à compter de la réception de votre demande. Cependant, nous vous informons que ce délai pourra
    être prolongé de deux mois si votre demande est particulièrement complexe ou compte tenu du nombre de demandes. Dans
    ce cas, vous serez informé d’une telle prolongation et de ses motifs dans un délai maximum d’un mois à compter de la
    réception de votre demande.</p>
  <p>Si nous ne pouvons pas donner suite à votre demande, vous en serez informé au plus tard dans un délai d’un mois à
    compter de la réception de votre demande, en vous précisant les raisons. Vous aurez également la possibilité
    d’introduire une réclamation auprès de l’Autorité de Contrôle compétente. Si l’Autorité concernée est la Commission
    Nationale de l’Informatique et des Libertés (CNIL), voici le lien pour adresser votre réclamation : www.cnil.fr</p>
  <p>Vous êtes informé qu’en cas de demandes manifestement infondées ou excessives, notamment en raison de leur
    caractère répétitif, nous pourrons refuser de donner suite à vos demandes ou exiger le paiement de frais pour tenir
    compte des coûts administratifs supportés pour répondre à vos demandes.</p>

  <br><br>
  <h1>10. Comment est assurée la sécurité de vos Données personnelles ?</h1>
  <br>
  <p>Nous mettons en œuvre toutes les mesures de sécurité appropriées afin de garantir la protection et la
    confidentialité de vos Données, et notamment de prévenir la destruction, la perte, l'altération, la divulgation non
    autorisée de Données, ou l'accès non autorisé à de telles Données. Ces mesures de sécurité consistent notamment au
    chiffrement des Données, ainsi qu’à la mise en œuvre de moyens permettant de garantir la confidentialité,
    l'intégrité, la disponibilité et la résilience constantes des systèmes et des services de traitement. Toute
    violation de sécurité impactant vos Données et susceptible d'engendrer un risque élevé pour vos droits et libertés
    vous sera notifiée dans les meilleurs délais.</p>

  <br><br>
  <h1>11. Modification de la Politique de confidentialité</h1>
  <br>
  <p>Les modifications de la Politique de confidentialité sont publiées sur le site internet de Kissluler, avec indication
    de la date de dernière mise à jour.</p>

  <br><br>
  <h1>12. Contenus publiés volontairement</h1>
  <p>Les services Kissluler permettent aux créateurs de cagnottes de publier un descriptif de leur projet ainsi que des
    photographies. Ils peuvent également alimenter le fil d’actualité de la cagnotte. Les participants peuvent quant à
    eux publier des commentaires en lien avec la cagnotte. Ces informations apparaissent soit au public, soit uniquement
    aux utilisateurs invités par le créateur, en fonction des paramètres de confidentialité de la cagnotte déterminés
    par le créateur.</p>
  <p>Dès lors que vous publiez volontairement du contenu sur le site de Kissluler, vous reconnaissez que vous êtes
    entièrement responsable de toute information personnelle que vous transmettez (y compris les éventuelles
    photographies ou images). Si vous publiez des contenus comportant des Données personnelles relatives à des tiers,
    vous êtes seul responsable de l’obtention de l’autorisation de ces personnes. Vous vous engagez à ne pas publier de
    contenus potentiellement préjudiciables ou pouvant porter atteinte à la réputation d’une personne.</p>

  <br><br>
  <h1>13. Politique des Cookies</h1>
  <br>
  <p>Un cookie est un petit fichier déposé sur votre appareil lorsque vous naviguez sur un site. Les cookies ont une
    durée de vie limitée. Ils ne peuvent conserver que du texte, qui est toujours confidentiel et dans la plupart des
    cas crypté. Ces cookies permettent donc de vous identifier à chacune de vos visites et aident à l'amélioration de
    votre expérience d’utilisateur en vous proposant des services plus appropriés à vos besoins.</p>
  <p>En cliquant sur accepter sur ce site, vous consentez à l’utilisation de traceurs ou techniques similaires par
    Kissluler et ses partenaires pour stocker et accéder à vos données personnelles (telle que votre adresse IP). Vous
    pouvez refuser ou limiter nos cookies en paramétrant votre navigateur conformément à ce qui est précisé sur la page
    du site relative aux cookies.</p>
  <p>Les cookies utilisés par Kissluler peuvent avoir différentes finalités, notamment :</p>
  <ul>
    <li>L’amélioration de votre navigation sur le site de Kissluler en vous proposant une expérience d’utilisateur plus
      adaptée à vos choix et la fourniture de services que vous avez expressément demandés (par exemple la sauvegarde de
      vos préférences sur la devise, l'authentification à votre compte, etc..). L’utilisation de ces cookies permet
      également d’identifier les problèmes liés à la plateforme. Il s'agit des cookies dits « fonctionnels »;</li>
    <li>La mesure de l'audience de la plateforme pour en améliorer les performances, ainsi que les produits et services.
      Il s'agit des cookies dits « analytiques »;</li>
    <li>La réalisation de publicités ciblées en dehors du site et la personnalisation des contenus qui vous sont
      présentés. Il s'agit des cookies dits « retargeting »;</li>
    <li>Les boutons de partage « réseaux sociaux » et commentaires. Il s'agit des cookies dits « réseaux sociaux ».</li>
  </ul>
  <p>Ces cookies sont soit directement mis en œuvre par Kissluler, soit proposés par le biais de prestataires (éditeurs de
    solutions de mesure d'audience, régies publicitaires et réseaux sociaux notamment).</p>
  <p>Nous précisons que lorsque les cookies sont déposés par des prestataires tiers, ils sont exploités exclusivement
    pour le compte de Kissluler. Ce dernier n’autorise pas les émetteurs de cookies à exploiter les Données collectées
    pour leur propre compte. Vous pouvez exprimer ou retirer votre consentement à ces traceurs ou vous y opposer en
    cliquant sur “paramétrer mes préférences cookies”.</p>
  <p>Vous pouvez aussi consulter notre politique de gestion de cookies et traceurs pour plus d’information et vous
    opposer à l’utilisation de certains traceurs.</p>
</div>
