:root {
  /** primary **/
  --color-primary: #866671;
  --color-primary-contrast: #fff;
  --color-primary-lighter: #A68993;
  --color-primary-light: #CEB8C0;
  --color-primary-darker: #63464F;
  --color-primary-dark: #492632;
  --color-primary-filter: invert(46%) sepia(11%) saturate(913%) hue-rotate(288deg) brightness(87%) contrast(78%);
  --color-primary-filter-contrast: invert(100%) sepia(2%) saturate(7500%) hue-rotate(310deg) brightness(113%) contrast(101%);

  /** secondary **/
  --color-secondary: #506A5E;
  --color-secondary-contrast: #fff;
  --color-secondary-lighter: #6C8378;
  --color-secondary-light: #92A29A;
  --color-secondary-darker: #374E43;
  --color-secondary-dark: #1E3A2D;
  --color-secondary-filter: invert(39%) sepia(15%) saturate(617%) hue-rotate(100deg) brightness(91%) contrast(81%);

  /** tertiary **/
  --color-tertiary: #8E9370;
  --color-tertiary-contrast: #000;
  --color-tertiary-lighter: #B2B797;
  --color-tertiary-light: #DFE2CB;
  --color-tertiary-darker: #686C4C;
  --color-tertiary-dark: #4B512A;
  --color-tertiary-filter: invert(61%) sepia(14%) saturate(588%) hue-rotate(29deg) brightness(91%) contrast(87%);

  /** success **/
  --color-success: #4eb76e;
  --color-success-contrast: #ffffff;
  --color-success-tint: #28e070;
  --color-success-shade: #0ec254;

  /** warning **/
  --color-warning: #F4984F; // #ffce00;
  --color-warning-contrast: #ffffff;
  --color-warning-shade: #e0b500;
  --color-warning-tint: #ffd31a;

  /** danger **/
  --color-danger: #f04141;
  --color-danger-contrast: #ffffff;
  --color-danger-shade: #d33939;
  --color-danger-tint: #f25454;

  /** dark **/
  --color-dark: #252427;
  --color-dark-contrast: #ffffff;
  --color-dark-shade: #1e2023;
  --color-dark-tint: #383a3e;

  /** medium **/
  --color-medium: #989aa2;
  --color-medium-contrast: #ffffff;
  --color-medium-shade: #86888f;
  --color-medium-tint: #a2a4ab;

  /** light **/
  --color-light: #c0c9ff;
  --color-light-contrast: #000000;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;
}
