<!-- NAVBAR-DESKTOP -->
<div class="body-app">

<mat-toolbar class="navbar-desktop" fxHide.lt-sm="true" fxLayout.sm="row">
  <a routerLink="/">
    <img class="logo-navbar" src="../../assets/images/kissluler-logo-black-horizontal.png" alt="">
  </a>

  <a class="navlink" fxLayoutAlign="none center" routerLink="/projects">Les projets</a>
  <a class="navlink" fxLayoutAlign="none center" routerLink="/create-project">Créer un projet</a>

  <span class="example-spacer"></span>

  <div fxLayout="row">
    <div *ngIf="isLogged" fxLayout="row">
      <a class="navlink" fxLayoutAlign="none center" [matMenuTriggerFor]="menu">
        <mat-icon>account_circle</mat-icon>
        <span>{{username}}</span>
      </a>

      <mat-menu #menu="matMenu" class="mat-menu">
        <button mat-menu-item>
          <span>Tableau de bord</span>
        </button>
        <button mat-menu-item>
          <span>Mes projets</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <span>Déconnexion</span>
        </button>
      </mat-menu>
    </div>
    <button class="navbar-btn" *ngIf="!isLogged" mat-raised-button routerLink="/login">Se connecter</button>
  </div>
</mat-toolbar>

<!-- NAVBAR MOBILE -->

<mat-toolbar class="navbar-mobile" fxLayout="row" fxHide.gt-xs="true">
  <div class="left-button">
    <button mat-icon-button (click)="snav.toggle();">
      <mat-icon class="toolbar-icon">menu</mat-icon>
    </button>
  </div>
  <a routerLink="/" (click)="snav.close();" fxLayoutAlign="none center">
    <img class="logo-navbar" src="../../assets/images/kissluler-logo-black-horizontal.png" alt="Logo">
  </a>
  <span class="toolbar-spacer"></span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #snav fxHide.gt-xs="true">
    <div *ngIf="isLogged" fxLayout="column" class="sidenav-user">
      <div class="username" fxLayoutAlign="center center">
        <mat-icon>account_circle</mat-icon>
        <span>{{username}}</span>
      </div>

      <button class="navbar-btn" mat-raised-button (click)="snav.close();" routerLink="/dashboard">Mon tableau de
        bord</button>
      <mat-nav-list class="nav-list">
        <a *ngIf="isLogged" (click)="snav.close();" mat-list-item routerLink="/my-projects">Mes projets</a>
      </mat-nav-list>
    </div>
    <mat-nav-list class="nav-list" fxLayout="column" fxLayoutAlign="none center">
      <a mat-list-item (click)="snav.close();" routerLink="/projects">Les projets</a>
      <a mat-list-item (click)="snav.close();" routerLink="/create-project">Créer un projet</a>
      <button class="navbar-btn" *ngIf="!isLogged" (click)="snav.close();" mat-raised-button routerLink="/login">Se
        connecter</button>
      <button class="navbar-btn" *ngIf="isLogged" (click)="snav.close();" mat-raised-button routerLink="/" (click)="logout()">Se
        déconnecter</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-footer></app-footer>
</div>
