app-footer {
  bottom: 0;
}
.navbar-desktop {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  z-index: 2;
  height: 56px;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);

  .navlink {
    text-decoration: none;
    color: var(--color-primary-contrast);
    margin: 0px 10px;
    font-size: 16px;
    height: 56px;
    border-bottom: 5px solid var(--color-primary);
    cursor: pointer;

    .mat-icon {
      width: 35px;
      height: 35px;
      font-size: 35px;
      margin-right: 10px;
    }

  }

  .navlink:hover,
  .router-link-active {
    color: var(--color-tertiary-lighter);
    border-bottom: 5px solid var(--color-tertiary-lighter);
  }

  .example-spacer {
    flex: 1 1 auto;
  }


}

.navbar-mobile {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  z-index: 2;
  height: 56px;
  background-color: var(--color-primary);
  color: var(--color-primary-contrast);

  mat-icon {
    margin-right: 15px;
  }
}

.sidenav-container {
  .sidenav {
    margin-top: 56px;
    width: 200px;
    background-color: var(--color-primary);
    color: var(--color-primary-contrast);

    .nav-list {
      &:last-child {
        padding-bottom: 8px;
      }

      a {
        color: var(--color-primary-contrast);
      }
    }

    .sidenav-user {
      border-bottom: 1px solid rgba(0, 0, 0, 0.123);

      .username {
        margin: 10px;
      }

      button {
        margin: 0 20px;
      }
    }

  }

  .content {
    margin-top: 56px;
    min-height: 60vh;
  }
}

.logo-navbar {
  height: 50px;
  filter: var(--color-primary-filter-contrast);
}

.navbar-btn {
  background-color: var(--color-secondary);
  color: var(--color-primary-contrast);

  &:hover {
    background-color: var(--color-secondary-dark);
  }
}
