<h2 mat-dialog-title style="text-align: center;">Préférences Cookies</h2>
<mat-dialog-content class="mat-typography">
  <strong
    ><mat-checkbox class="example-margin" [disabled]="true"
      >Cookies strictement nécessaires</mat-checkbox
    ></strong
  >
  <p>
    Nous utilisons les cookies essentiels pour assurer le bon fonctionnement de
    notre site.
  </p>
  <p>
    Par exemple, les cookies essentiels vous permettent de vous connecter et de
    parcourir notre site en toute sécurité. Ces cookies nous permettent de
    sécuriser votre compte et de prévenir la fraude.
  </p>
  <strong
    ><mat-checkbox class="example-margin" [(ngModel)]="audience"
      >Cookies de mesure d’audience</mat-checkbox
    ></strong
  >
  <p>
    Nous utilisons les cookies de performance pour comprendre la manière dont
    vous utilisez notre site.
  </p>
  <p>
    Par exemple, les cookies de performance nous aident à savoir quelles
    sections du site Leetchi sont les plus populaires et celles que nous
    pourrions améliorer.
  </p>
  <strong
    ><mat-checkbox class="example-margin" [(ngModel)]="pub"
      >Cookies de publicité personnalisée</mat-checkbox
    ></strong
  >
  <p>
    Nous utilisons les cookies de publicité ciblée pour vous présenter des
    annonces qui pourraient vous intéresser. Par exemple, les cookies de
    marketing nous permettent de vous proposer des annonces Leetchi
    personnalisées selon vos centres d'intérêt.
  </p>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-raised-button mat-dialog-close>Refuser</button>
  <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>
    Valider mes préférences
  </button>
</mat-dialog-actions>
