<div class="body-cookies">
  <h1>Politique de cookies</h1>
  <br />
  <h1>Qu’est-ce qu’un cookie ?</h1>
  <p>
    Un cookie est un petit fichier déposé sur votre ordinateur pour une durée de
    vie limitée lorsque vous naviguez sur un site. Les informations liées à
    votre navigation sont alors stockées à cet endroit. Les cookies ne peuvent
    conserver que du texte, qui est toujours confidentiel et dans la plupart des
    cas crypté. Ces cookies permettent donc de vous identifier à chacune de vos
    visites et ainsi aident à l'amélioration de votre expérience utilisateur en
    vous proposant des services plus appropriés à vos besoins.
  </p>
  <p>
    Lors de votre navigation sur Leetchi, nous collectons diverses données,
    relatives notamment aux caractéristiques du système d'exploitation, du
    navigateur ou du terminal (ordinateur, tablette ou téléphone mobile) que
    vous utilisez, des données relatives à votre localisation ou encore des
    données relatives à vos différentes interactions avec le contenu de Leetchi.
    Ces informations de navigation sont collectées via des cookies ou d'autres
    dispositifs similaires, tels que des « pixels tags ».
  </p>
  <p>
    Sur le site Leetchi, nous utilisons 3 types de cookies dont les finalités
    sont décrites ci-après.
  </p>
  <p>
    Aucune publicité n'est soumise à nos utilisateurs sur notre plateforme, les
    cookies déposés n'ont donc pas pour objectif de vous proposer une quelconque
    publicité sur notre site.
  </p>

  <br /><br />
  <h1>Paramétrer vos préférences de confidentialité</h1>
  <br />
  <p>
    En cliquant sur “Accepter”, vous consentez à l’utilisation de cookies pour
    l’ensemble des finalités ci-dessus. Vous pouvez également configurer vos
    choix finalité par finalité en cliquant sur “Personnaliser” ou refuser en
    cliquant sur "Refuser". Vous pouvez changer d'avis ou vous opposer à
    l’utilisation des cookies à tout moment en cliquant sur « Paramétrer mes
    préférences cookies » figurant en bas de cette page.
  </p>
  <br />
  <h3>Les cookies strictement nécessaires</h3>
  <p>
    Nous utilisons des cookies afin de vous présenter des services adaptés à
    votre navigation et pour assurer le bon fonctionnement de notre site. Ces
    cookies permettent d’améliorer votre expérience utilisateur.
  </p>
  <p>
    Par exemple, les cookies essentiels vous permettent de vous connecter et de
    parcourir notre site en toute sécurité. Ces cookies nous permettent de
    sécuriser votre compte et de prévenir la fraude. Ils ne peuvent être
    désactivés.
  </p>
  <br />
  <h3>Cookies de mesure d'audience</h3>
  <p>
    Nous utilisons les cookies de performance pour comprendre la manière dont
    vous utilisez notre site. Ces cookies nous permettent d'obtenir des
    informations quant à la fréquentation de notre site et d'analyser les
    données liées au trafic. Ces statistiques de fréquentation nous permettent
    notamment de détecter des problèmes de navigation et ainsi d'optimiser la
    navigation de nos utilisateurs.
  </p>
  <p>
    Par exemple, les cookies de performance nous aident à savoir quelles
    sections du site Leetchi sont les plus populaires et celles que nous
    pourrions améliorer.
  </p>
  <br />
  <h3>Cookies de publicités personnalisées</h3>
  <p>
    Ces cookies nous permettent de suivre votre navigation et vous présenter par
    la suite du contenu publicitaire adapté à vos centres d’intérêts ou à votre
    activité passée sur notre site.
  </p>

  <button mat-raised-button (click)="openDialog()">Paramétrer mes préférences cookies</button>

  <br /><br />
  <h1>Liste des partenaires</h1>
  <table>
    <tr>
      <th>Partenaires</th>
      <th>Cookies</th>
      <th>Buts</th>
      <th>Durée</th>
    </tr>
    <tr>
      <td>Addthis</td>
      <td>__atuvc</td>
      <td>Cookie strictement nécessaire</td>
      <td>13 mois</td>
    </tr>
    <tr>
      <td>Cloudfare</td>
      <td>__cfduid</td>
      <td>Cookie strictement nécessaire</td>
      <td>1 mois</td>
    </tr>
    <tr>
      <td>Google Analytics</td>
      <td>_ga</td>
      <td>Cookie de mesure d’audience</td>
      <td>12 mois</td>
    </tr>
    <tr>
      <td>Google Analytics</td>
      <td>_gat</td>
      <td>Cookie de mesure d’audience</td>
      <td>1 min</td>
    </tr>
    <tr>
      <td>Google Analytics</td>
      <td>_gid</td>
      <td>Cookie de mesure d’audience</td>
      <td>1 jour</td>
    </tr>
    <tr>
      <td>Hotjar</td>
      <td>_hjid</td>
      <td>Cookie de mesure d’audience</td>
      <td>11 mois</td>
    </tr>
    <tr>
      <td>Leadsmonitor</td>
      <td>_lm_id</td>
      <td>Cookie de mesure d’audience</td>
      <td>12 mois</td>
    </tr>
    <tr>
      <td>AB Tasty</td>
      <td>ABTastySession</td>
      <td>Cookie de mesure d’audience</td>
      <td>12 mois</td>
    </tr>
    <tr>
      <td>AB Tasty</td>
      <td>ABTasty</td>
      <td>Cookie de mesure d’audience</td>
      <td>12 mois</td>
    </tr>
    <tr>
      <td>Facebook</td>
      <td>_fbp</td>
      <td>Cookie de publicité personnalisée</td>
      <td>2 mois</td>
    </tr>
    <tr>
      <td>Bing</td>
      <td>_uetsid</td>
      <td>Cookie de publicité personnalisée</td>
      <td>1 jour</td>
    </tr>
    <tr>
      <td>Bing</td>
      <td>MUID</td>
      <td>Cookie de publicité personnalisée</td>
      <td>12 mois</td>
    </tr>
    <tr>
      <td>Linkedin</td>
      <td>UserMatchHistory</td>
      <td>Cookie de publicité personnalisée</td>
      <td>1 mois</td>
    </tr>
    <tr>
      <td>Google ads</td>
      <td></td>
      <td>Cookie de publicité personnalisée</td>
      <td>1 min</td>
    </tr>
    <tr>
      <td>Twitter</td>
      <td></td>
      <td>Cookie de publicité personnalisée</td>
      <td>1 min</td>
    </tr>
    <tr>
      <td>Remailme</td>
      <td></td>
      <td>Cookie de publicité personnalisée</td>
      <td>1 min</td>
    </tr>
    <tr>
      <td>Taboola</td>
      <td>t_gid</td>
      <td>Cookie de publicité personnalisée</td>
      <td>12 mois</td>
    </tr>
    <tr>
      <td>Kwanko</td>
      <td></td>
      <td>Cookie de publicité personnalisée</td>
      <td>1 min</td>
    </tr>
  </table>
</div>
