<div class="mx-auto w-75 pt-5">
  <div class="card">
    <div class="card-header text-center">
      <h1 class="card-title">Connexion</h1>
    </div>
    <mat-card>
      <mat-card-content>
        <form (submit)="login()">
          <p class="text-danger" *ngIf="hasError">{{errorMessage}}</p>
          <div class="mb-3">
            <mat-form-field class="col-12" appearance="outline">
              <mat-label for="email" class="form-label">Email</mat-label>
              <input matInput name="email" [(ngModel)]="email" type="email" class="form-control" id="email">
              <mat-icon matPrefix class="icon-color">alternate_email</mat-icon>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field class="col-12" appearance="outline">
              <mat-label for="password">Mot de passe</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" name="password" [(ngModel)]="password"
                class="form-control" id="password">
              <mat-icon matPrefix class="icon-color">lock</mat-icon>
              <mat-icon matSuffix (click)="hidePassword = !hidePassword">
                {{hidePassword ? 'visibility_off' : 'visibility'}}
              </mat-icon>
            </mat-form-field>
          </div>
          <button type="submit" mat-raised-button class="btn">Connexion</button>
        </form>

      </mat-card-content>
      <mat-card-actions>
        <a routerLink="/register">Vous n'avez pas de compte ? Enregistrez-vous</a>
      </mat-card-actions>
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </mat-card>

  </div>
</div>
