.home-header {
  background-color: #fff;
  padding: 30px;

  .home-header__img {
    img {
      width: 100%;
    }
  }

  .home-header__content {
    h1 {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 35px;
    }

    p {
      font-size: 28px;
    }

    button {
      font-size: 20px;
      height: 54px;
      margin: 20px 45px;
    }

  }
}

.home-projects {
  background-color: var(--color-primary-light);
}

.home-about {
  background-color: #fff;

  h1 {
    font-weight: bold;
  }

  .home-about__img {
    img {
      width: 100%;
    }
  }
}
