<section fxLayoutAlign.gt-md="center center" fxLayout.lt-lg="column" class="home-header">
  <div class="home-header__img" fxFlex.lt-md="70" fxFlex.lt-lg="40" fxHide.gt-md>
    <img src="../../assets/images/crowdfunding-home.jpg" alt="">
  </div>
  <div class="home-header__content" fxFlex="60" fxFlex.lt-lg="100">
    <h1>Kissluler - Plateforme de Crowdfunding</h1>
    <p>Le financement participatif du futur</p>
    <p>Financez des produits et des projets incroyables</p>
    <div class="home-header__action-button">
      <button mat-raised-button>Liste des projets</button>
      <button mat-raised-button>Lancer un projet</button>
    </div>
  </div>
  <div class="home-header__img" fxFlex="30" fxHide.lt-lg>
    <img src="../../assets/images/crowdfunding-home.jpg" alt="">
  </div>
</section>
<section class="home-projects">
    <app-projects [sliceEnd]="8"></app-projects>
</section>
<section class="home-about" fxLayoutAlign.gt-md="center center">
  <div fxFlex="60">
    <h1>C'est quoi Kissluler ?</h1>
    <p>Créé en 2022, Kissluler est l'union du meilleur des plateformes de financement participatif ainsi que des cagnottes
      en ligne</p>
    <p>La plateforme permet de collecter de l’argent de façon simple, pratique et sécurisée pour financer un cadeau
      commun, un projet solidaire ou un événement à plusieurs.</p>
  </div>
  <div fxFlex="25" class="home-about__img">
    <img src="../../assets/images/2009.i518.001_crowdfunding_set-07.jpg" alt="">
  </div>
</section>
